<div class="resume-card">
  {% if hard_skills %}
  <div class="hard-skills">
    <div class="caption">
      <h2><i class='bx bx-bar-chart-alt-2'></i>Hard Skills</h2>
    </div>
    <table>
      <tbody>
        {% for row in hard_skills %}
          <tr>
            {% for cell in row %}
              <td>
                {% for skill in cell %}
                  {% if skill.skill.description %}
                    <div class="tooltip">
                      <i class='bx bxs-circle'></i>{{ skill.skill.name }}
                      <div class="tooltip-box">
                        <small>{{ skill.skill.description }}</small>
                      </div>
                    </div>
                  {% else %}
                    <div>
                      <i class='bx bxs-circle'></i>{{ skill.skill.name }}
                    </div>
                  {% endif %}
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if soft_skills %}
  <div class="soft-skills">
    <div class="caption">
      <h2><i class='bx bx-scatter-chart'></i>Soft Skills</h2>
    </div>
    <table>
      <tbody>
        {% for row in soft_skills %}
          <tr>
            {% for cell in row %}
              <td>
                {% for skill in cell %}
                  {% if skill.skill.description %}
                    <div class="tooltip clickable">
                      {{ skill.skill.name }}
                      <div class="tooltip-box">
                        <small>{{ skill.skill.description }}</small>
                      </div>
                    </div>
                  {% else %}
                    <div class="non-clickable">{{ skill.skill.name }}</div>
                  {% endif %}
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>