{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/registration/registration.css' %}">
{% endblock %}

{% block content %}
  <h1>Установка нового пароля</h1>

  {% if validlink %}
    <form method="post">
      {% csrf_token %}

      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        <div class="error">{{ form.new_password1.errors }}</div>
      {% endif %}

      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        <div class="error">{{ form.new_password2.errors }}</div>
      {% endif %}

      <button type="submit">Сменить пароль</button>
    </form>
  {% else %}
    <p>
        Ссылка для сброса пароля недействительна. Возможно, она уже 
        использовалась. Пожалуйста, запросите новую.
    </p>
    <p><a href="{% url 'password_reset' %}">Запросить новую ссылку</a></p>
  {% endif %}
{% endblock %}
