{% extends "base.html" %} 
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/about.css' %}">
{% endblock %}

{% block content %} 
<div class="about-container">
  <h1 class="about-title">Resume Safari</h1>
  <p class="about-paragraph">
    Этот сайт — мой личный <strong>pet-проект</strong>, разработанный с использованием <strong>Django</strong>.
    Он представляет собой платформу, где пользователи могут публиковать свои <strong>резюме</strong>,
    а также просматривать резюме других пользователей.
  </p>

  <p class="about-paragraph">
    Зарегистрированные пользователи могут добавлять, редактировать и удалять свои резюме через удобный REST API.
    Вся логика API реализована с помощью <strong>Django REST Framework</strong>, обеспечивая гибкий и масштабируемый подход к управлению данными.
  </p>

  <p class="about-paragraph">
    Основной интерфейс сайта ориентирован на просмотр резюме, а взаимодействие с личными данными осуществляется через API.
    Это позволяет легко интегрировать сайт с внешними frontend-интерфейсами или мобильными приложениями.
  </p>

  <p class="about-paragraph">
    Проект создавался с целью практики и углубления знаний в области веб-разработки, а также в работе с REST API и авторизацией пользователей.
  </p>

  <div class="about-paragraph">
    <p>Ссылки на документацию API:</p>
    <ul class="about-doc-links">
      <li>
        <span class="doc-label">Swagger:</span>
        <a href="{{ request.scheme }}://{{ request.get_host }}{{ prefix }}swagger/" class="about-link">
          {{ request.scheme }}://{{ request.get_host }}{{ prefix }}swagger/
        </a>
      </li>
      <li>
        <span class="doc-label">ReDoc:</span>
        <a href="{{ request.scheme }}://{{ request.get_host }}{{ prefix }}redoc/" class="about-link">
          {{ request.scheme }}://{{ request.get_host }}{{ prefix }}redoc/
        </a>
      </li>
    </ul>
  </div>
</div> 
{% endblock %}
