{% extends "base.html" %}
{% load static %}

{% block title %} 
  {{ resume.user.get_full_name }}
{% endblock %}

{% block extra_css %}
  <link 
    rel="stylesheet" href="{% static 'css/resume_detail/resume_card.css' %}">
  <link rel="stylesheet" href="{% static 'css/resume_detail/summary.css' %}">
  {% if hard_skills or soft_skills %}
    <link rel="stylesheet" href="{% static 'css/resume_detail/skills.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
  {% endif %}
  {% if resume.educations.all %}
    <link rel="stylesheet" href="{% static 'css/resume_detail/education.css' %}">
  {% endif %}
  {% if resume.experiences.all %}
    <link rel="stylesheet" href="{% static 'css/resume_detail/experience.css' %}">
  {% endif %}
{% endblock %}

{% block content %}
  <section id="summary">
    {% include "resume/includes/summary.html" %}
  </section>
  {% if hard_skills or soft_skills %}
    <section id="skills">
      {% include "resume/includes/skills.html" %}
    </section>
  {% endif %}
  {% if resume.educations.all %}
    <section id="education">
      {% include "resume/includes/education.html" %}
    </section>
  {% endif %}
  {% if resume.experiences.all %}
    <section id="experience">
      {% include "resume/includes/experience.html" %}
    </section>
  {% endif %}
{% endblock %}

{% if hard_skills or soft_skills %}
  {% block extra_js %}
    <script src="{% static 'js/tooltip.js' %}"></script>
  {% endblock %}
{% endif %}