{% extends "base.html" %}
{% load static %}

{% block title %}Ошибка запроса: 400{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/errors/page_error.css' %}">
{% endblock %}

{% block content %}
<div class="error-body">
  <div class="error-container">
    <h1>Неверный запрос: 400</h1>
    <p>Ваш запрос был некорректен или повреждён.</p>
    <div class="error-link">
      <a href="{% url 'user:resume_list' %}">Вернуться на главную</a>
    </div>
  </div>
</div>
{% endblock %}