@font-face {
  font-family: 'Tektur';
  src: url('/static/fonts/modern/Tektur-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tektur';
  src: url('/static/fonts/modern/Tektur-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}