header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-background-color);
    box-shadow: 0 2px 4px var(--dark-color);
    top: 0;
    z-index: 1000;
    padding: 15px 30px;
    transition: 
        background-color var(--transition-value), 
        /* color var(--transition-value), */
        /* box-shadow var(--transition-value); */
}

body.dark header {
    background-color: var(--dark-background-color);
    box-shadow: 0 2px 4px var(--light-color);
}

.logo img {
    width: 90px;
    height: auto;
    object-fit: contain;
}

.auth-theme {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.auth-theme button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--dark-add-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    /* transition: color var(--transition-value); */
}

.auth-theme button:hover{
    color: var(--dark-color);
}

body.dark .auth-theme button {
    color: var(--light-color);
}

body.dark .auth-theme button:hover {
    color: var(--light-add-color);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
        padding: 5px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .auth-theme {
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .auth-theme button {
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
    }
}