.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: var(--light-add-background-color);
    transition: 
        opacity var(--transition-value), 
        visibility var(--transition-value);
}

body.dark .spinner-overlay {
    background-color: var(--dark-add-background-color);
}

.spinner-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid var(--light-add-color);
    border-top-color: var(--dark-blue-color);
    border-radius: 50%;
    animation: spin 0.5s infinite;
}

body.dark .spinner {
    border-color: var(--dark-add-color);
    border-top-color: var(--light-red-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




