@font-face {
  font-family: 'Bellota';
  src: url('/static/fonts/Bellota-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bellota';
  src: url('/static/fonts/Bellota-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bellota';
  src: url('/static/fonts/Bellota-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bellota';
  src: url('/static/fonts/Bellota-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bellota';
  src: url('/static/fonts/Bellota-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bellota';
  src: url('/static/fonts/Bellota-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Bellota', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body.light {
    background-color: var(--light-add-background-color);
    color: var(--dark-color);
}

body.dark {
  background-color: var(--dark-add-background-color);
  color: var(--light-color);
}

.active {
    font-weight: 600;
}

body.light .active {
    color: var(--dark-blue-color);
}

body.dark .active {
    color: var(--light-red-color);
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body.light::-webkit-scrollbar-track {
    background: var(--light-add-background-color);
}

body.dark::-webkit-scrollbar-track {
    background: var(--dark-add-background-color);
}

body.light::-webkit-scrollbar-thumb {
    background: var(--dark-add-color);
    border-radius: 1px;
}

body.dark::-webkit-scrollbar-thumb {
    background: var(--light-add-color);
}

body.light::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue-color);
}

body.dark::-webkit-scrollbar-thumb:hover {
    background: var(--light-red-color);
}