html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body.classic-style * {
  font-family: 'Classic', serif;
}

body.modern-style * {
  font-family: 'Modern', monospace;
}

body.special-style * {
    font-family: 'Special', sans-serif;
}

body.light {
    background-color: var(--light-add-background-color);
    color: var(--dark-color);
}

body.dark {
  background-color: var(--dark-add-background-color);
  color: var(--light-color);
}

.active {
    font-weight: 600;
}

body.light .active {
    color: var(--dark-blue-color);
}

body.dark .active {
    color: var(--light-red-color);
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body.light::-webkit-scrollbar-track {
    background: var(--light-add-background-color);
}

body.dark::-webkit-scrollbar-track {
    background: var(--dark-add-background-color);
}

body.light::-webkit-scrollbar-thumb {
    background: var(--dark-add-color);
    border-radius: 1px;
}

body.dark::-webkit-scrollbar-thumb {
    background: var(--light-add-color);
}

body.light::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue-color);
}

body.dark::-webkit-scrollbar-thumb:hover {
    background: var(--light-red-color);
}