<footer>
  <div class="logo">
      <h2>Resume Safari</h2>
  </div>

  {% include "includes/main_nav.html" %}

  <div class="social">
    <a 
      href="https://github.com/AlexanderCholiy"
      target="_blank"
      aria-label="GitHub"
      >
      <i class="bx bxl-github"></i></a>
    <a 
      href="https://t.me/alexander_457889"
      target="_blank"
      aria-label="Telegram"
      >
      <i class="bx bxl-telegram"></i></a>
    <a href="mailto:alexander.choliy@mail.ru" aria-label="Email">
      <i class="bx bx-envelope"></i></a>
  </div>

  <div class="bottom">
    <p>&copy; 2024 Alexander Choliy. Python Developer.</p>
    <button id="scroll-to-top" aria-label="Scroll to top" title="Вверх">
        <i class="bx bx-up-arrow-alt"></i> Top
    </button>
  </div>
</footer>