.resume-card table {
  overflow: visible !important;
}

.resume-card .hard-skills {
  flex: 0 1 60%;
  min-width: 300px;
}

.resume-card .soft-skills {
  flex: 0 1 35%;
  min-width: 300px;
}

.resume-card .hard-skills h2,
.resume-card .soft-skills h2 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resume-card .hard-skills h2 {
    color: var(--dark-blue-color);
}

.resume-card .soft-skills h2 {
    color: var(--dark-red-color);
}

body.dark .resume-card .hard-skills h2 {
    color: var(--light-red-color);
}

body.dark .resume-card .soft-skills h2 {
    color: var(--light-blue-color);
}

.resume-card table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.resume-card td {
  padding: 5px 0;
}

.resume-card td div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resume-card td i {
  font-size: 0.6rem;
  color: var(--dark-red-color);
}

@media (max-width: 768px) {
  .resume-card .hard-skills,
  .resume-card .soft-skills {
    width: 100%;
  }

  /* .resume-card td {
    font-size: 0.9rem;
    padding: 0.5rem;
  } */

  .resume-card .hard-skills h2,
  .resume-card .soft-skills h2 {
    font-size: 1.4rem;
  }
}