.resume-info {
  flex: 1 1 60%;
}

.resume-info h2 {
  margin-top: 0;
  font-size: 1.6rem;
  color: var(--dark-color);
  transition: color var(--transition-value);
}

body.dark .resume-info h2 {
  color: var(--light-color);
}

.position-age {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem;
  font-weight: 600;
}

.position-age p:first-child {
  color: var(--dark-red-color);
}

body.dark .position-age p:first-child {
  color: var(--light-blue-color);
}

.about {
  line-height: 1.5;
}

.resume-meta {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.resume-meta img {
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* transition: box-shadow var(--transition-value); */
}

body.dark .resume-meta img {
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.resume-meta .contact i {
  margin-right: 6px;
  font-size: 0.8rem;
}

.resume-meta .contact {
  margin: 0;
}

.github-telegram {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.github-telegram a {
  color: var(--dark-color);
  text-decoration: none;
  /* transition: color var(--transition-value); */
}

body.dark .github-telegram a {
  color: var(--light-color);
}

.github-telegram i {
  font-size: 1.2rem !important;
}

.github-telegram a:hover {
  color: var(--dark-blue-color);
}

body.dark .github-telegram a:hover {
  color: var(--light-red-color);
}

@media (max-width: 768px) {
  .resume-info, .resume-meta {
    flex: 1 1 100%;
  }

  .position-age {
    flex-direction: column;
    align-items: center;
  }

  .resume-meta img {
    max-width: 200px;
  }
}