{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Чолий Александр">
    <meta 
      name="description"
      content="Чолий Александр — Python-разработчик. Опыт в создании 
    веб-сервисов, работе с базами данных, автоматизации и backend-разработке 
    на Django. Ищу интересные проекты и профессиональный рост."
    >
    <meta
      name="keywords" 
      content="Чолий Александр, Python разработчик, backend, Django, SQL, 
    веб-разработка, резюме, портфолио, разработчик, вакансии Python, 
    разработка сайтов"
      >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
      {% block title %}Resume Safari{% endblock %}
    </title>
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link 
      rel="apple-touch-icon" 
      sizes="180x180" 
      href="{% static 'img/fav/apple-touch-icon.png' %}"
      >
    <link 
      rel="icon" 
      type="png" 
      sizes="32x32" 
      href="{% static 'img/fav/favicon-32x32.png' %}"
      >
    <link 
      rel="icon" 
      type="png" 
      sizes="16x16" 
      href="{% static 'img/fav/favicon-16x16.png' %}"
      >
    <link 
      rel='stylesheet' 
      href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
      >
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth_toggle.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <div id="spinner-overlay" class="spinner-overlay">
        <div class="spinner"></div>
      </div>
      {% include "includes/header.html" %}
      <main class="{% if auth_page %}auth-container{% endif %}">
        <div class="main-wrapper {% if auth_page %}auth-wrapper{% endif %}">
          {% block content %}Контента пока нет :({% endblock %}
        </div>
      </main>
      {% include "includes/footer.html" %}
    </div>

    <script>
      window.STYLE_FONTS = {
        classic: "{% static 'css/fonts_classic.css' %}",
        modern: "{% static 'css/fonts_modern.css' %}",
        special: "{% static 'css/fonts_special.css' %}",
      };
    </script>
    <script src="{% static 'js/loader.js' %}"></script>
    <script src="{% static 'js/theme_toggle.js' %}"></script>
    <script src="{% static 'js/style_toggle.js' %}"></script>
    <script src="{% static 'js/auth_toggle.js' %}"></script>
    <script src="{% static 'js/scroll_to_top.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>