<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Чолий Александр — Python-разработчик. Опыт в создании веб-сервисов, работе с базами данных, автоматизации и backend-разработке на Django. Ищу интересные проекты и профессиональный рост.">
    <meta name="keywords" content="Чолий Александр, Python разработчик, backend, Django, SQL, веб-разработка, резюме, портфолио, разработчик, вакансии Python, разработка сайтов">
    <meta name="author" content="Чолий Александр">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чолий Александр</title>
    <link rel="icon" href="fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> 
  </head>
  <body>
  <body>
    <header>
      Верхняя часть страницы: логотип, контакты
      <nav>
        Меню (навигация)
      </nav>
    </header>
    <main>
      Основное содержимое страницы
    </main>
    <footer>
      Подвал
    </footer>
  </body>
  </body>
</html>